body {
    background-color: rgb(20, 20, 20);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: opacity 1s ease;
}

a {
    text-decoration: none !important;
}