.title {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Mono", monospace;
    font-size: min(4vw, 40px);
    padding-top: 0.2em;
    padding-left: 1.2em;
    padding-right: 60vw;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    opacity: 0.3;
    transition: all 0.3s ease;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#return {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Space Mono", monospace;
    font-size: min(2vw, 20px);
    padding-top: 5vw;
    margin-left: 2em;
    transition: all 0.3s ease;
    cursor: pointer;
}

#return:hover {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Mono", monospace;
    font-size: min(2vw, 20px);
    padding-top: 5vw;
    margin-left: 1.9em;
}

#footer {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(15, 15, 15, 0.8);
    font-family: "Space Mono", monospace;
    font-size: min(1.5vw, 15px);
    padding: 1em;
    margin-top: 2em;
    display: block;
    width: max-content;
    padding-left: 100%;
    padding-right: 100%;
    margin-bottom: 0px;
}


#link {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#text-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#avatar {
    width: 5em;
    height: 5em;
    margin-top: 1em;
    max-width: none;
    object-fit: cover;
    border: 0.1vw solid white;
    border-radius: 1vw;
    opacity: 0.1;
    filter: brightness(0.9);
    transition: all 0.3s ease;
}

#avatar-desc {
    color: rgba(255, 255, 255, 1) !important;
    font-family: "Space Mono", monospace;
    font-size: min(2vw, 20px);
    opacity: 0.1;
    padding-top: 1em;
    transition: all 0.3s ease; 
}

.text-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.normal-text {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Mono", monospace;
    font-size: min(1.5vw, 15px);
    opacity: 0.3;
    transition: all 0.3s ease;
    margin-bottom: 5em;
}

#interest-container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transition: all 0.3s ease;
}

#interest-title {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Mono", monospace;
    font-size: min(1.5vw, 15px);
    opacity: 0.3;
}

#interest-text {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Mono", monospace;
    font-size: min(3vw, 30px);
    font-weight: bold;
    transition: all 0.3s ease;
}
